<div class="login-wrapper">

    <section class="login_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Login
                            </h2>
                        </div>
                        <form action="#" method="get" autocomplete="on" class="form-area">
                            <div class="form-email">
                                <input type="email" name="uemail" id="user-email" required
                                    title="Mailinizi Giriniz"><br>
                                <span class="inputs_required">*Required</span>
                                <label for="user-email" class="user_labels">EMAIL</label><br><br>
                            </div>
                            <div class="form-password">
                                <input type="password" name="upassword" id="user-password" title="Şifrenizi Giriniz"
                                    required><br>
                                <span class="inputs_required">*Required</span>
                                <label for="user-password" class="user_labels">Password</label><br>
                            </div>
                            <div class="checkboxButton">
                                <input type="checkbox" name="uremember" id="remember-me">
                                <label class="x" for="remember-me" style="cursor: pointer;">Beni Hatırla</label>
                            </div>

                            <a href="">
                                <button type="submit" name="submit" id="submit" title="Giriş Yap">Giriş</button><br>
                            </a>


                            <div class="password-reset">
                                <a href="#">Şifremi unuttum*</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="../assets/about-img.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>