<div class="login-wrapper">
    <section class="login-card">
        <div class="form-check-button">
            <input type="checkbox" value="None" id="form-check-button" name="check" checked (click)="makeVisible()" />
            <label for="form-check-button"></label>
        </div>
        <div class="login_section">
            <div class="container">
                <div class="row">
                    <!-- Login Form -->
                    <div class="col-md-6 order-1" [ngClass]="{'d-none': isVisible}" id="login_id">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Login
                                </h2>
                            </div>
                            <form action="#" method="get" autocomplete="on" class="form-area">
                                <div [class]="divClass" *ngFor=" let login of FormLogin ">
                                    <input [type]="login.type" [name]="login.name" [id]="login.id" required
                                        [title]="login.title"><br>
                                    <span [class]="spanClass">*Required</span>
                                    <label [for]="login.id" [class]="labelClass">{{login.labelTitle |
                                        uppercase}}</label><br><br>
                                </div>
                                <div class="checkboxButton">
                                    <input type="checkbox" name="uremember" id="remember-me-login">
                                    <label for="remember-me-login" style="cursor: pointer;">Beni
                                        Hatırla</label>
                                </div>


                                <button type="submit" name="submit" class="form-button" title="Login">Login</button><br>



                                <!-- <div class="password-reset">
                                <a href="#">Şifremi unuttum*</a>
                            </div> -->
                            </form>
                        </div>

                    </div>
                    <!-- Login Form End-->
                    <!-- Register Form -->
                    <div class="col-md-6 order-8" [ngClass]="{'d-none': !isVisible}" id="register_id">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Sign up
                                </h2>
                            </div>
                            <form action="#" method="get" autocomplete="on" class="form-area"
                                (ngSubmit)="registerCreate(registerForm)" #registerForm="ngForm">
                                <div class="form-inputs">
                                    <input type="text" name="uRegistername" id="user-name-register" title="İsim Giriniz"
                                        [(ngModel)]="userCreate.name" required><br>
                                    <span class="inputs_required">*Required</span>
                                    <label for="user-name-register" class="user_labels">Name</label><br><br>
                                </div>
                                <div class="form-inputs">
                                    <input type="email" name="uRegisteremail" id="user-email-register"
                                        [(ngModel)]="userCreate.email" title="email Giriniz" required><br>
                                    <span class="inputs_required">*Required</span>
                                    <label for="user-email-register" class="user_labels">Email</label><br><br>
                                </div>
                                <div class="form-inputs">
                                    <input type="password" name="uRegisterpassword" id="user-password-register"
                                        [(ngModel)]="userCreate.password" title="Şifrenizi Giriniz" required><br>
                                    <span class="inputs_required">*Required</span>
                                    <label for="user-password-register" class="user_labels">Password</label><br><br>
                                </div>
                                <div class="form-inputs">
                                    <input type="tel" name="uRegisterpassword" id="user-phone-register"
                                        [(ngModel)]="userCreate.phone" title="Telefon Giriniz" required><br>
                                    <span class="inputs_required">*Required</span>
                                    <label for="user-phone-register" class="user_labels">+90-(Phone)</label><br><br>
                                </div>


                                <button type="submit" name="submit" class="form-button"
                                    title="Sign-up">Sign-up</button><br>
                            </form>
                        </div>

                    </div>
                    <!-- Register Form End-->
                    <!-- Img-Box -->
                    <div class="col-md-6 burger-icon" [ngClass]="isVisible ? 'order-5' : 'order-2'"
                        [ngStyle]="{'transform': isVisible ? 'scaleX(-1)' : 'scaleX(1)'}">
                        <div class=" img-box d-none d-md-block">
                            <img src="../assets/about-img.png" alt="">
                        </div>
                    </div>
                    <!-- Img-Box End-->
                </div>
            </div>
        </div>

    </section>
</div>