<div class="hero_area">

    <div class="bg-box ">
        <img src="../../assets/hero-bg.jpg" alt="">
    </div>
    <!-- end header section -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <span>
                        Feane
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="menu.html">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="book.html">Book Table</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        <a href="" class="user_link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a class="cart_link" href="#">
                            <!-- Navbardaki alışveriş sepeti ikonu-->
                            <app-cart-svg class="x"></app-cart-svg>
                        </a>
                        <form class="form-inline">
                            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                        <a href="" class="order_online">
                            Order Online
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->




    <!-- slider section -->
    <!-- Class isimlerinin hepsi scss içindir. Carouselle hiç bir alakaları yoktur -->
    <owl-carousel-o [options]="customOptions" class="slider_section" data-ride="slide" dots="true">
        <ng-container *ngFor="let slide of sliderStore">
            <ng-template carouselSlide id="customCarousel1">
                <div class="container">
                    <div class="row">
                        <div>
                            <div class="detail-box">
                                <h1>
                                    {{ slide.hText }}
                                </h1>
                                <p style="white-space: pre-line;">{{ slide.pText }}</p>
                                <div>
                                    <a [href]="slide.slidesBtnUrl">
                                        {{slide.btnText}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <!-- <ng-template carouselIndicator let-index="index">
        <div class="carousel-indicators" style="background-color: red; width: 20px; height: 20px;">
            3
        </div>
    </ng-template> -->
    </owl-carousel-o>
    <!-- end slider section -->
</div>