<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container">
            <div class="row">
                <ng-container *ngFor="let card of OfferCards">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="img-box">
                                <img [src]="card.offerPic" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{card.offerTitle}}
                                </h5>
                                <h6>
                                    <span>{{card.offerDiscount}}</span> Of
                                </h6>
                                <a routerLink="/menu">
                                    Order Now
                                    <app-cart-svg></app-cart-svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>