<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Binary admin</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> {{loginDay}}/{{loginMonth}}/{{loginYear}} &nbsp; <a href="#"
                class="btn btn-danger square-btn-adjust">Logout</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="../../assets/admin-img/find_user.png" class="user-image img-responsive" />
                </li>

                <li>
                    <a class="active-menu" routerLink="/admin"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                </li>
                <li>
                    <a routerLink="/admin"><i class="fa fa-desktop fa-2x"></i> UI Elements</a>
                </li>
                <li>
                    <a routerLink="/admin"><i class="fa fa-qrcode fa-2x"></i> Tabs & Panels</a>
                </li>
                <li>
                    <a routerLink="/admin"><i class="fa-solid fa-chart-simple fa-2x"></i> Morris Charts</a>
                </li>
                <li>
                    <a routerLink="/admin"><i class="fa fa-table fa-2x"></i> Table Examples</a>
                </li>
                <li>
                    <a routerLink="/admin"><i class="fa fa-edit fa-2x"></i> Forms </a>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>Admin Dashboard</h2>
                    <h5>Welcome Jhon Deo , Love to see you back. </h5>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                        <span class="icon-box bg-color-red set-icon">
                            <i class="fa-regular fa-envelope"></i>
                        </span>
                        <div class="text-box">
                            <p class="main-text">120 New</p>
                            <p class="text-muted">Messages</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                        <span class="icon-box bg-color-green set-icon">
                            <i class="fa fa-bars"></i>
                        </span>
                        <div class="text-box">
                            <p class="main-text">30 Tasks</p>
                            <p class="text-muted">Remaining</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                        <span class="icon-box bg-color-blue set-icon">
                            <i class="fa-regular fa-bell"></i>
                        </span>
                        <div class="text-box">
                            <p class="main-text">240 New</p>
                            <p class="text-muted">Notifications</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                        <span class="icon-box bg-color-brown set-icon">
                            <i class="fa fa-rocket"></i>
                        </span>
                        <div class="text-box">
                            <p class="main-text">3 Orders</p>
                            <p class="text-muted">Pending</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /. ROW  -->
            <div class="row">

                <div class="col-sm-12 col-xs-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Register Table
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Password</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let client of userList">
                                            <td>{{client.id}}</td>
                                            <td>{{client.name}}</td>
                                            <td>{{client.email}}</td>
                                            <td>{{client.password}}</td>
                                            <td>{{client.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-back noti-box">
                        <span class="icon-box bg-color-blue">
                            <i class="fa fa-warning"></i>
                        </span>
                        <div class="text-box">
                            <p class="main-text">52 Important Issues to Fix </p>
                            <p class="text-muted">Please fix these issues to work smooth</p>
                            <p class="text-muted">Time Left: 30 mins</p>
                            <hr />
                            <p class="text-muted">
                                <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel back-dash">
                        <i class="fa fa-dashboard fa-3x"></i><strong> &nbsp; SPEED</strong>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing sit ametsit amet
                            elit ftr. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 ">
                    <div class="panel ">
                        <div class="main-temp-back">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6"> <i class="fa fa-cloud fa-3x"></i> Newyork City </div>
                                    <div class="col-xs-6">
                                        <div class="text-temp"> 10° </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-back noti-box">
                        <span class="icon-box bg-color-green set-icon">
                            <i class="fa fa-desktop"></i>
                        </span>
                        <div class="text-box">
                            <p class="main-text">Display</p>
                            <p class="text-muted">Looking Good</p>
                        </div>
                    </div>

                </div>

            </div>

            <!-- /. ROW  -->
            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">

                    <div class="chat-panel panel panel-default chat-boder chat-panel-head">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat Box
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                    data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i>Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i>Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i>Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i>Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i>Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">
                            <ul class="chat-box">
                                <li class="left clearfix" *ngFor="let chat of chatBox">
                                    <span class="chat-img pull-left">
                                        <img style="width: 50px;" [src]="chat.photo" alt="User" class="img-circle" />
                                    </span>
                                    <div class="chat-body">
                                        <strong>{{chat.name}}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>
                                        </small>
                                        <p>
                                            {{chat.chat}}
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm"
                                    placeholder="Type your message to send..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>